{% extends 'base.html' %} {% load static %} {% block main %}
<section class="password-reset">
    <div class="container">
        <div class="form-content py-2 py-sm-3 py-lg-4">
            <div class="header text-center mb-3">
                <h2>Password reset sent</h2>
            </div>
            <div class="text-center">
                <small>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</small><br>
                <small style="width: 60%; margin: 0 auto">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</small>
                <p class="pt-4">Want to go back ? <a href="{% url 'homepage' %}">Back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
