{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block main %}
<section class="password-reset">
    <div class="container">
      <div class="form-content py-2 py-sm-3 py-lg-4">
        <div class="header text-center mb-3">
            <h2>Reset password</h2>
        </div>
        <h6 class="text-center pb-4">Hi, Fill out the following!!!</h6>
        <form action="" method="post">
          {%csrf_token%}
          {{ form | crispy }}
          <div class="reset-btn">
              <button type="submit" class="btn  btn-primary"/><small>Reset Password</small></button>
          </div>
          <p class="pt-4">Want to go back ? <a href="{% url 'homepage' %}">Back</a></p>
        </form>
      </div>
    </div>
</section>
{% endblock main %}
