body {
    min-width: 320px;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

a {
    transition: .2s all ease-in-out;
}

.btn-play {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 1rem;
    bottom: 1rem;
    border: 0;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
    transform: translate(-50%, -50%);
}

.btn-play:hover {
    text-decoration: none;
}

@media (min-width:992px) {
    .btn-play {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.btn-play::before {
    content: '';
    position: absolute;
    top: -999px;
    left: -999px;
    right: -999px;
    bottom: -999px;
}

.btn-play i {
    display: block;
    transition: 0.3s ease;
    font-size: 1rem;
}

.site-wrapper {
    margin: 0 auto;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
}

.site-header,
.site-content,
.site-footer {
    flex-shrink: 0;
}

.site-content {
    flex-grow: 1;
}

.site-header .navbar {
    padding: 0;
    align-items: center;
}

.navbar .navbar-brand {
    font-size: 1.75rem;
}

.navbar-nav .nav-item {
    padding: 0 .375rem;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 500;
    letter-spacing: .025rem;
    text-transform: capitalize;
}

.nav-link:hover {
    color: rgba(black, .9);
}

@media (min-width:992px) {
    .banner-slider__item img {
        height: 565px;
    }

    .banner-inner .banner-slider__item img {
        height: 300px;
        object-fit: cover;
    }
}

.banner-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-image: url(../images/hmpage-slider-img/football-banner.jpg);
    padding: 6rem 0;
    z-index: 1;
}

.dark-overlay {
    position: relative;
    z-index: 1;
}

.dark-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
}

.banner-inner .banner-slider__item .text-wrap h2 {
    color: white;
    font-size: 36px;
}

.banner-slider__item img {
    width: 100%;
    object-fit: cover;
}

/* Sign Up Form */
.form-content {
    padding: 0 2rem;
    border-radius: 6px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
}

@media (min-width:992px) {
    .form-content {
        max-width: 550px;
        padding: 0 3rem;
        margin: 0 auto;
    }
}

.login-form,
.password-reset {
    padding: 6rem 0;
}

@media (min-width:1440px) {

    .login-form,
    .password-reset {
        padding: 7rem 0;
    }
}

.card-video__block [class^="col-"] {
    display: none;
}

.card-video__block [class^="col-"]:nth-child(1),
.card-video__block [class^="col-"]:nth-child(2),
.card-video__block [class^="col-"]:nth-child(3),
.card-video__block [class^="col-"]:nth-child(4) {
    display: block;
}

.card-video__block .card-video__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 0;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.card-video__block .card-video__wrapper .card-video__media {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-video__block .card-video__wrapper .card-video__media picture {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    border-bottom: 0;
    background-color: #4284bd;
    /* border-radius: 0.625rem; */
    overflow: hidden;
}

.card-video__block .card-video__wrapper .card-video__media img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.card-video__block .card-video__wrapper .card-video__title {
    padding: 1rem 1.5rem 1rem 1rem;
}

.card-video__block .card-video__wrapper .card-video__title h3,
a {
    color: #333;
    text-decoration: none;
}

.card-video__wrapper:hover .card-video__title a {
    color: #333;
    text-decoration: none;
}

.card-video__block .card-video__wrapper .card-video__footer {
    display: flex;
    justify-content: space-between;
}

.card-video__block .card-video__wrapper .card-video__media img {
    height: 230px;
    object-fit: cover;
}

.center-block {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

/* slick */
.slider-col-4 {
    display: flex;
    flex-wrap: nowrap;
}

.slider-col-4.slick-slider {
    display: block;
}

@media (min-width: 768px) {
    .slick-track {
        display: flex;
    }
}

@media (min-width: 768px) {
    .slick-slide {
        height: inherit;
    }
}

.slick-dots {
    list-style: none;
    margin: 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.slick-dots li {
    line-height: 1;
}

.slick-dots li:only-child {
    display: none;
}

.slick-dots li+li {
    padding-left: 10px;
}

.slick-dots button {
    outline: none;
    box-shadow: none;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
    .slick-dots button {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1440px) {
    .slick-dots button {
        width: 30px;
        height: 30px;
    }
}

.slick-dots button::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    background: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.slick-dots li.slick-active button,
.slick-dots li:hover button {
    border-color: #000;
}

.slick-arrow {
    font-size: 0;
    line-height: 1;
    background-color: transparent;
    color: #000;
    padding: 0.5625rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 0;
    margin: 0 8px;
    border: 1px solid transparent;
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
}

@media (min-width: 768px) {
    .slick-arrow {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 992px) {
    .slick-arrow {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .slick-arrow {
        width: 59px;
        height: 59px;
    }
}

.slick-arrow:hover:not(.slick-disabled),
.slick-arrow:focus:not(.slick-disabled) {
    color: #000;
}

.slick-arrow:before {
    content: "\f061";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .slick-arrow:before {
        font-size: 1.625rem;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .slick-arrow:before {
        font-size: calc(1.25rem + .45vw);
    }
}

@media (min-width: 1200px) {
    .slick-arrow:before {
        font-size: 1.875rem;
    }
}

@media (min-width: 1200px) and (max-width: 1200px) {
    .slick-arrow:before {
        font-size: calc(1.25rem + .75vw);
    }
}

.slick-arrow.slick-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.slick-prev {
    right: 50%;
}

@media (min-width: 992px) {
    .slick-prev {
        left: 0;
        right: auto;
    }
}

.slick-next {
    left: 50%;
}

@media (min-width: 992px) {
    .slick-next {
        right: 0;
        left: auto;
    }
}

.slick-next:before {
    content: "\f178";
}


.slick-list {
    padding: 0 !important;
}

@media (min-width: 992px) {
    .slick-disabled--hidden .slick-disabled {
        display: none !important;
    }
}

.arrowType2 .slick-arrow::before {
    font-size: 1.375rem;
}

@media (max-width: 1200px) {
    .arrowType2 .slick-arrow::before {
        font-size: calc(1.2625rem + .15vw);
    }
}

.arrowType2 .slick-prev::before {
    content: "\f060";
}

.arrowType2 .slick-next::before {
    content: "\f061";
}

.arrowBtm.slick-slider {
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .arrowBtm.slick-slider {
        padding-bottom: 64px;
    }
}

@media (min-width: 1200px) {
    .arrowBtm.slick-slider {
        padding-bottom: 86px;
    }
}

.arrowBtm .slick-arrow {
    transform: none;
    top: auto;
    bottom: 0;
    margin: 0 10px;
}

.arrowBtm .slick-prev {
    left: auto;
    right: 50%;
}

.arrowBtm .slick-next {
    right: auto;
    left: 50%;
}

@media (min-width: 1400px) {
    .arrowMd .slick-arrow {
        width: 56px;
        height: 56px;
    }
}

.arrowBlack .slick-arrow {
    background-color: #010101;
    color: #fff;
}

.arrowBlack .slick-arrow::before {
    font-size: 1.375rem;
}

@media (max-width: 1200px) {
    .arrowBlack .slick-arrow::before {
        font-size: calc(.875rem + .3vw);
    }
}

.arrowBlack .slick-arrow:hover:not(.slick-disabled),
.arrowBlack .slick-arrow:focus:not(.slick-disabled) {
    background-color: white;
    border-color: #000;
    color: #000;
}

/* slick-ends */

.site-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Form */

.form-group #hint_id_password1,
#hint_id_password2 {
    display: none;
}

@media (min-width: 992px) {
    .form-group {
        margin-bottom: 1.25rem;
    }
}

.form-control:focus {
    box-shadow: none;
    border-color: #000;
}

.alert-block {
    border-color: red;
    background-color: white;
}

.alert-block li {
    color: red;
}

.btn-gray {
    color: rgba(0, 0, 0, .5);
    background-color: white;
    border-color: #ced4da;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active {
    color: white;
    background-color: #000;
    border-color: #000;
    box-shadow: none;
}

.btn-dark {
    color: black;
    background-color: white;
    border-color: #000;
    font-size: 18px
}

.btn-dark:focus{
    box-shadow: none;
}

.btn-dark:hover .loading span:before,
.btn-dark:hover .loading span::after {
    border-color: #fff;
}

@media (min-width: 992px) {
    .btn-dark {
        font-size: 20px;
    }
}

.site-header {
    padding: 0.75rem 0;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: .2s ease-in-out all;
}

/* @media (min-width: 992px) {
    .site-header {
      padding: 1.5rem 0;
    }
  }
  
  @media (min-width: 1440px) {
    .site-header {
      padding: 2rem 0;
    }
  } */

.sticky-header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sticky-header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22)
}

@media (min-width: 992px) {
    .sticky-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

::selection {
    color: #fff;
    background-color: #000;
}

@media (max-width: 992px) {
    .form-inline .form-control {
        width: 90%;
        margin-right: 10px;
    }

    .form-inline .input-group-append {
        width: 8%;
    }
}

@media (max-width: 576px) {
    .form-inline .form-control {
        width: 80%;
        margin-right: 8px;
    }

    .form-inline .input-group-append {
        width: 15%;
    }
}

.profile-card .profile-card__content {
    padding: 1rem 1.5rem;
    border: 1px solid #333;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.075);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s;
}

.profile-card .profile-card__content .profile-card__top {
    display: flex;
    align-items: center;
}

.profile-card .profile-card__content .user-detail span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.profile-card .profile-pic img {
    width: 100px;
    height: 100px;
}

@media (min-width: 992px) {
    .slider-col-4 .item-content img {
        height: 320px;
        object-fit: cover;
    }
}

.loading {
    display: none;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
    transition: all .3s;
    animation: loader1 3s linear infinite;
}

.loading span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    clip: rect(12px, 24px, 0);
    animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader3 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: 2px solid transparent;
    border-top: 2px solid #000;
    border-radius: 50%;
    animation: loader3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;

}

.loading span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    border-radius: 50%;
}

.btn-wrap .show-loader{
    width: 32px;
    background-color: #000;
    text-indent: -9999px;
}

.btn-wrap .show-loader .loading{
    display: block;
}

.btn-wrap .loaded{
    visibility: hidden;
    opacity: 0;
    height: 0;
    /* transition: all .3s; */
}