{% extends 'base.html' %} {% load static %} {% block main %}
<section class="banner">
	<div class="banner-slider slider-col-1">
		<div class="banner-slider__item">
        <div class="text-center">
				  <img src="{% static 'images/hmpage-slider-img/cricket-banner.jpg' %}" alt="Image" class="img-fluid mx-auto">
        </div>
		</div>
		<div class="banner-slider__item">
        <div class="text-center">
				  <img class="img-fluid mx-auto" src="{% static 'images/hmpage-slider-img/banner_volleyball.jpg' %}" alt="">
        </div>
		</div>
		<div class="banner-slider__item">
        <div class="text-center">
		  		<img class="img-fluid mx-auto" src="{% static 'images/hmpage-slider-img/football-banner.jpg' %}" alt="">
        </div>
		</div>
	</div>
</section>

<section id="card-video__block" class="card-video__block py-3 py-lg-4">
  <div class="container">
    <header class="text-center mb-3 mb-lg-4 mb-xl-5">
      <h2>Featured Videos</h2>
    </header>
    <div class="row mb-3">
      {% for game in game_lists %}
      <div class="col-xl-3 col-lg-4 col-md-6 mb-2 mb-sm-3 mb-md-4">
        <div class="card-video__wrapper">
          <div class="card-video__media">
            <picture>
              <img width="500" height="500" loading="lazy" src="{{ game.thumbnail_image.url }}" alt="Sinai Documentaries"/>
            </picture>
            <a href="{{ game.video_url }}" class="btn-play" data-fancybox=""><i class="fa fa-play"></i></a>
          </div>
          <div class="card-video__title">
            <h3 class="h5 mb-2 mb-lg-3">{{ game.title }}</h3>
            <div class="card-video__footer">
              <h4 class="h6">{{ game.category.title }}</h6>
              <small class="upload-date">{{ game.created_at|date:"M d, Y" }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div  id="load-more" class="btn-wrap text-center pt-3 pt-lg-4">
      <a href="javascript:void(0);" class="btn btn-primary btn-dark load-more px-5">Load More
        <span class="loading">
          <span></span>
        </span>
      </a>
    </div>
  </div>
</section>
<section id="categories" class="section py-3 py-lg-4">
  <div class="container">
    <header class="block-title text-center mb-3 mb-lg-4 mb-xl-5">
      <h2>Featured Categories</h2>
    </header>
    <div class="row slider-col-4 arrowBlack arrowMd arrowType2 arrowBtm">
      {% for category in categories %}
      <div class="col-lg-4 item">
        <div class="item-content">
          <a href="{% url 'game-category' category.id %}"><img src="{{ category.image.url }}" class="img-responsive center-block"></a>
          <h4 class="h5 text-center">{{ category.title }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock main %}
