{% extends 'base.html' %} {% load static %} {% block main %}
<section class="profile-card py-3 py-sm-4 py-lg-5">
    <div class="container">
        <div class="profile-card__content">
            <div class="profile-card__top mb-2 mb-sm-3 mb-lg-4">
                <div class="profile-pic">
                    <img alt="User Pic" src="
                    {% if request.user.image %} {{ request.user.image.url }} 
                    {% else %} 
                    {% static 'images/user/user-profile.png' %}
                    {% endif %}
                    " alt="Image" height="512" class="profile-image1 img-fluid rounded-circle" width="512">
                </div>
                <div class="user-detail pl-2 pl-sm-3 pl-lg-4">
                    <h2 class="h5">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
                    <span>{{ request.user.date_joined|date:"M d, Y" }}</span>
                </div>
            </div>
            <div class="profile-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                    </li>
                   
                    {% comment %} <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li> {% endcomment %}
                </ul>

                <div class="tab-content pt-2 pt-lg-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Profile</div>
                   
                    {% comment %} <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
